body{
    background-color:#0197A6;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

#bannerLog{
    width:55rem;
    display: block;
    margin: auto;
   }

/* ********************************************************** */


/* ********************************************************** */  
#navbarHome{
    position: absolute;
    left:50%;
    transform: translatex(-50%);
}

#espacioNavInit{
    width: 70%;
    margin: auto;
}

#espacio{
    margin-left:70px;
}

#bannerLog #gata{
    align-content: center;
    display:flex;
    margin:auto;
}

#gafa{
    width: 600px; 
    display:flex;
    margin:auto;
}

#fondoHome2{
    background-color: rgb(255, 255, 255);
}

#fragmentHome{
    align-content: center;
    height: 400px; 
    width: 500px; 
    margin:auto;
}
/*-------------PARTE SUPERIOR PERTENECE AL HOME------------------------*/

  .catalogo{
    background-color: rgb(255, 255, 255);
  }

  .nosotrosFond2{
    background-color: #AAE6E9;
  }

  h1 {
    color: darkblue;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    text-align: center;
    /*font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif*/
        }

#descripcionNosotros{
    text-align: center;
}

/*------------------- WHATSAPP FLOTANTE --------------------*/

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: rgb(2, 250, 2); 
    color: honeydew;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

/*-----------------------------------------------------------*/

/*-----------------------GOOGLE MAPS-------------------------*/

#map{
    height: 500px;
    width: 100%;
    
}
/*-----------------------------------------------------------*/
/*-----------------------FOOTER-------------------------*/

#logoFin{
    width:50%;
    display: block;
    /* margin: auto; */
   }


   h5 {
    color:blanchedalmond;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    
    /*font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif*/
        }
    
  

#iconF{
    font-size: 28px;
}

#footter1{
    
    background-color:#59c2cc;
}
/* ------------------------------------------------------ */
/* ------------------------TIPS------------------------------ */
.coontainertips{
    height: 1000%;
    width: 100%;
    align-content: center;
}

#tips1{
    background-image: url(https://i.postimg.cc/rmqGDgLs/fondo.jpg);
    width:auto;
    height:auto;
    background-repeat: repeat;
    color: #fff
}